body, div, ul, li, p, h1, h2, h3, h4, h5, img {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
}

img {
	display: block;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: 'robotolight';
	src: url('../fonts/Roboto-Light-webfont.eot');
	src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Light-webfont.woff') format('woff'),
	url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
	url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotothin';
	src: url('../fonts/Roboto-Thin-webfont.eot');
	src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
	url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
	url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotomedium';
	src: url('../fonts/Roboto-Medium-webfont.eot');
	src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
	url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
	url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



::-webkit-input-placeholder { color:#989898; font: 11px Tahoma;}
::-moz-placeholder { color:#989898; font: 11px Tahoma;} /* firefox 19+ */
:-ms-input-placeholder { color:#989898; font: 11px Tahoma;} /* ie */
input:-moz-placeholder { color:#989898; font: 11px Tahoma;}

.clear:before, .clear:after {
	content: " ";
	display: table;
	line-height: 0;
}

.clear:after {
	clear: both;
}

.clear {
	*zoom: 1;
}

#header {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0), inset 0 -1px #e4e4e4;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0), inset 0 -1px #e4e4e4;
	box-shadow: 0 1px 4px rgba(0,0,0,0), inset 0 -1px #e4e4e4;
	padding-top: 57px;
	margin-bottom: 6px;
}

.container {
	width: 940px;
	margin: auto;
}

h1 {
	float:left;
	font: 37px robotolight;
	line-height: 37px;
	color: black;
}

#header ul {
	float: right;
}

#header li {
	display: inline;
	margin-right: 31px;
}

#header li:last-child {
	margin-right: 0px;
}

#header a {
	font: 15px robotolight;
	line-height: 50px;
	color: #1a4da2;
}

#header a:hover {
	color: black;
}

#search {
	width: 158px;
	height: 18px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.25);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.25);
	border: solid 1px #bbb;
	font: 11px Tahoma;
	color: black;
	background: url('../images/search_icon.png') left 7px center no-repeat;
	padding: 6px;
	text-indent: 24px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 2s;
	transition: all 0.2s;
}

#search:focus {
	text-indent: 0px;
	background-position:	 left -23px center;
}

.breadcrumbs {
	margin-bottom: 44px;
}

.breadcrumbs li {
	display: inline;
	list-style: none;
	margin-right: 6px;
	background: url('../images/breadcrumbs_seperator.png') right top 8px no-repeat;
	padding-right: 11px;
}

.breadcrumbs li:last-child {
	background-image: none; 
}

.breadcrumbs a {
	font: 11px Tahoma;
	line-height: 17px;
	color: #1a4da2;
}

.breadcrumbs li:last-child a {
	font-weight: bold;
	color: black;
}

.destinationImage {
	height: 53px;
	width: 53px;
	float: left;
	margin: 2px 10px 0px 4px;
}

h2 {
	float: left;
	font: 36px robotothin;
	line-height: 53px;
	color: #d54405;
}

.destinationMenu {
	float: right;
	margin-top: 27px;
}

.destinationMenu li {
	display: inline;
	list-style: none;
	margin-right: 24px;
}

.destinationMenu a {
	font: 15px robotolight;
	color: #1a4da2;
	line-height: 15px;
}

.destinationMenu li:last-child a {
	color: #d54405;
	border: solid 1px rgba(0,0,0,.13);
	width: 76px;
	height: 37px;
	border-radius: 4px;
	padding: 8px 15px 10px 15px;
}

.destinationMenu li:last-child {
	margin-right: 0px;
}

.topDiv {
	padding-bottom: 13px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
}

.infoDiv {
	margin-bottom: 44px;
}

.infoDiv ul {
	float: left;
	margin-top: 15px;
}

.infoDiv li {
	list-style: none;
	border-bottom: 1px solid #dddddd;
}

.infoDiv a {
	display: block;
	width: 225px;
	overflow: hidden;
	padding-top: 6px;
	padding-bottom: 6px;
}

.text {
	font: 15px robotolight;
	line-height: 20px;
	color: #1a4da2;
	float: left;
	width: 174px;
}

.infoDiv a span {
	font: 12px robotolight;
	color: #878787;
}

.imageHolder {
	height: 25px;
	width: 23px;
	overflow: hidden;
	margin-left: 11px;
	margin-right: 17px;
	margin-top: 7px;
	float: left;
}

a.howToReach {
	padding-top: 0px;
}

.infoDiv li:first-child {
	border-bottom: 2px solid #D54405;
}

a.howToReach .text div {
	font: 17px robotolight;
	color: #d54405;
}

a.howToReach .text span {
	color: black;
}

.mapAreaWrapper {
	float: right;
	width: 686px;
}

.mapWrapper {
	width: 658px;
	border: 1px solid #dadada;	
	padding: 15px 16px 25px 13px;
	font: 14px robolight;
	color: #666666;
}

.mapWrapper option, .mapWrapper select {
	font: 14px robotomedium;
	color: #444444;
}

.mapWrapper select, #routePlanner select {
	width: 160px;
	height: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.25);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.25);
	border: solid 1px #bbb;
}

h3 {
	font: 32px robotothin;
	color: #d54405;
	text-indent: 8px;
	margin-bottom: 21px;
}

iframe.map {
	margin-bottom: 11px;
}

.travelOptions {
	width: 690px;
	float: right;
	padding-bottom: 20px;
}

h4 {
	font: 24px robotothin;
	color: #d54405;
	padding-bottom: 10px;
	border-bottom: 1px solid #e9e9e9;
}

h5 {
	font:20px robotolight;
	color: black;
	margin-bottom: 13px;
	margin-top: 5px;
}

.travelOptions li {
	display: block;
	border-bottom: 1px solid #f5f5f5;
	overflow: hidden;
	padding-top: 19px;
	padding-bottom: 20px;
}

.travelText {
	width: 561px;
	float: right;
}

.travelImage {
	float: left;

}

.travelText p {
	font: 11px Tahoma;
	line-height: 17px;
	margin-bottom: 10px;
}

.travelText a {
	font: 11px Arial;
	line-height: 18px;
	color: #1a4da2;
	background: url('../images/link_icon.png') right no-repeat;
	padding-right: 21px;
}

.travelOptions ul {
	margin-bottom: 28px;
}

.travelOptions > div {
	font: 16px robotolight;
	line-height: 18px;
	margin-bottom: 15px;
}

#routePlanner select {
	margin-left: 30px;
	margin-right: 10px;
}

#routePlanner span {
	font: 14px robotolight;
	color: #666666;
}

#routePlanner button {
	font: 12px Tahoma;
	color: #1a4da2;
	width: 182px;
	height: 30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	border: solid 1px #bbb;
	background: -webkit-linear-gradient(bottom, rgba(0,0,0,.06), rgba(0,0,0,0)), url('../images/link_icon.png') right 4px center no-repeat;
	background: -moz-linear-gradient(bottom, rgba(0,0,0,.06), rgba(0,0,0,0)), url('../images/link_icon.png') right 4px center no-repeat;
	background: -o-linear-gradient(bottom, rgba(0,0,0,.06), rgba(0,0,0,0)), url('../images/link_icon.png') right 4px center no-repeat;
	background: linear-gradient(to top, rgba(0,0,0,.06), rgba(0,0,0,0)), url('../images/link_icon.png') right 4px center no-repeat;
	padding: 2px 0px 2px 0px;
	text-align: left;
	text-indent: 18px;
}

#routePlanner select, #routePlanner option {
	font: 14px robotoregular;
	color: #aaaaaa;
}