body, div, ul, li, p, h1, h2, h3, img {
	margin: 0px;
	padding: 0px;
}

img {
	display: block;
}

body {
	background: #f4f5f6;
	font-family: georgia;
	font-size: 13px;
}

a {
	text-decoration: none;
}

::-webkit-input-placeholder { color:#fff; font-style: italic; font-size: 14px; font: georgia;}
::-moz-placeholder { color:#fff; font-style: italic; font-size: 14px; font: georgia;} /* firefox 19+ */
:-ms-input-placeholder { color:#fff; font-style: italic; font-size: 14px; font: georgia;} /* ie */
input:-moz-placeholder { color:#fff; font-style: italic; font-size: 14px; font: georgia;}

#header {
	margin-bottom: 33px;
}

.container {
	width: 940px;
	margin: auto;
}

.logoWrapper {
	width: 930px;
	margin: auto;
	padding: 10px 0px 13px 30px;	
}

.logoWrapper a {
	display: block;
	width: 239px;
	height: 57px;
	background: url('../images/logo.png');
	text-indent: -9999px;
}

.navWrapper {
	background: #3355aa;
	font-size: 15px;
	line-height: 36px;
	color: white;
}

.menu {
	float: left;	
	background: url('../images/separator.jpg') right no-repeat;
}

.menu li {
	display: block;
	float: left;
	background : url('../images/separator.jpg') left no-repeat;
}

.search {
	float: right;
	margin-top: 5px;
}

.menu a {
	display: block;
	height: 40px;
	color: white;
	text-decoration: none;
	font-style: italic;
	padding: 0px 17px 0px 16px;
	line-height: 40px;
	text-shadow: 0px 1px 2px #114499;
	-webkit-text-shadow: 0px 1px 2px #114499;
	-moz-text-shadow: 0px 1px 2px #114499;
}

.menu a:hover {
	color: gray;
}

.search input {
	display: block;
	width: 150px;	
	float: left;
	margin-right: 10px;
	border-radius: 4px;
	padding: 10px; 
	border: 1px solid #0f2356;
	height: 8px;
	background: #214193;	
	color:#fff; 
	font-style: italic;
	font-size: 14px;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), 0px 1px 6px 0px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), 0px 1px 6px 0px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1), 0px 1px 6px 0px rgba(0, 0, 0, 0.1) inset;
	text-shadow: 0px 1px 0px #1F4193;
	-webkit-text-shadow: 0px 1px 0px #1F4193;
	-moz-text-shadow: 0px 1px 0px #1F4193;
}

.search button {
	display: block;	
	float: right;
	width: 40px;
	height: 30px;
	border-radius: 4px;
	background: #3f66c8 url('../images/search_icon.png') center no-repeat;
	border: 1px solid #1c3980;
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.1);
}

.contentTop > img {
	float: left;
	max-width: 424px;
	max-height: 344px;
	margin: 0px 57px 0px -3px;
}

.contentTop {
	margin-bottom: 69px;
}

.whatWeDo {
	float: left;
	width: 220px;
	margin-right: 20px;
}

.whatWeDo p {
	font-size: 13px;
	line-height: 20px;
	color: #666666;
	margin-bottom: 10px;
	letter-spacing: -0.04em;
}

.announcements {
	float: left;
	width: 220px;
}

h3 {
	font-family: "nevis bold";
	font-size: 16px;
	color: #666666;
	padding-bottom: 11px;
	border-bottom: 3px solid #eebe00;
	margin: 27px 0px 16px 0px;
	font-weight: normal;
}

.announcements ul {
	margin-bottom: 25px;
}

.announcements ul li {
	display: block;
	list-style: none;
	background: url('../images/announcements_separator_pattern.jpg') bottom repeat-x;
	margin-bottom: 18px;
}

.announcements p a {
	display: block;
	color: #222222;
	font-style: italic;
	font-size: 13px;
	line-height: 18px;
}

.announcements p a:hover, .announcements span a:hover {
	color: blue;
}

.announcements span a {
	color: #333333;
}

.announcements p, .announcements span {
	line-height: 16px;
	font-size: 10px;
	color: #888888;
}

.announcements p {
	margin-bottom: 4px;
}

a.viewMore {
	color: #3355aa;
	font-style: italic;
}

a.viewMore:hover {
	color: black
}

h2 {
	text-align: center;
	font-family: "nevis bold";
	font-size: 28px;
	color: #444444;
	-webkit-text-shadow: 0 1px 0 white;
	-moz-text-shadow: 0 1px 0 white;
	text-shadow: 0 1px 0 white;
	margin-bottom: 20px;
	font-weight: normal;
}

.contentBottom li {
	display: block;
	float: left;
	width: 165px;
	min-height: 200px;
	list-style: none;
	background: #ffffff;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15), 1px 1px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15), 1px 1px 1px rgba(0, 0, 0, 0.15);
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.15), 1px 1px 1px rgba(0, 0, 0, 0.15);
	padding: 5px;
	margin-right: 16px;
	border-radius: 4px;	
}

.contentBottom div {
	width: 137px;
	height: 36px;
	text-align: center;
	line-height: 18px;
	margin: 7px auto 15px auto;
	color: #3355aa;
}

.contentBottom li img {
	max-width: 165px;
	max-height: 200px;
	margin: auto;
}

li.lastBox {
	margin-right: 0px;
}

.content {
	margin-bottom: 39px;
}

#footer {
	background: url('../images/pattern.jpg') repeat;
	padding-bottom: 35px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.8) inset;
	-moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.8) inset;
	-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.8) inset;
}

.footerMenu {
	height: 47px;
	background: url('../images/footer_separator.jpg') bottom no-repeat;
	margin-bottom: 10px;
}

.bottomLeftLinks {
	float:left;
}

.bottomLeftLinks li {
	display: block;
	float: left;
	margin-right: 8px;
	background: url('../images/bottom_seperator.jpg') right no-repeat; 
	padding-right: 11px;
}

.bottomLeftLinks a {
	line-height: 47px;
	font-size: 14px;
	color: #aaaaaa;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	-webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	-moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

.bottomLeftLinks a:hover, .bottomRightLinks a:hover {
	color: white;
}

.bottomRightLinks {
	float: right;
}

.bottomRightLinks li {
	float:left;
	display: block;
	margin-right: 8px;
	background: url('../images/bottom_seperator.jpg') right no-repeat; 
	padding-right: 8px;
}

.bottomRightLinks a {
	line-height: 47px;
	font-size: 11px;
	color: #aaaaaa;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	-webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	-moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

li.noBackground {
	background-image: none;
	margin-right: 0px;
	padding-right: 0px;
}

.copy {	
	color: #888888;
	font-size: 11px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	-webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	-moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
}

.follow {
	float: right;
}

.followText {
	display: block;
	float: left;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	-webkit-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	-moz-text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
	color: #888888;
	font-size: 11px;
	margin-right: 10px;
}

.followUs {
	float: right;
	padding-bottom: 10px
}

.followUs li  {
	list-style: none;
	display: block;
	float: left;
}

.followUs a {
	display: block;
	width: 15px;
	height: 15px;
	float: left;
	margin-left: 5px;
}

a#fbLogo {
	background: url('../images/fb_icon.png');
}

a#twitterLogo {
	background: url('../images/twitter_icon.png');
}

a#linkedinLogo {
	background: url('../images/linkedin_icon.png');
}


/*  CODE FOR CLEARING FLOAT */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear:before,
.clear:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clear:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clear {
	*zoom: 1;
}