/*
*
*  BEGIN RESET
*
*/

header, footer, div, a, p, h1, ul, li, 
img, table, body {
	margin: 0px;
	padding: 0px;
}

/*
*
*  END RESET
*
*/


h1 {
	margin-bottom: 10px;
	margin-top: 10px;
}

p {
	margin-bottom: 10px;
	text-align: justify;
}

ul {
	margin-left: 10px;
}

#container {
	width: 940px;
	margin: auto;
	background: grey;
	border: 1px solid;
}

header {
	text-align: center;
	border-bottom: 1px solid;
}

#menuDiv {
	border-bottom: 1px solid;
}

#mainMenu {
	margin: 10px;
}

#mainMenu li {
	display: inline;	
	margin-right: 200px;
	font-size: 20px;
}

#divLeft {
	width: 313px;
	float: left;
}

#divLeft > ul > li {
	list-style-type: none;
}

#divRight {
	width: 623px;
	float: left;
	border-left: 1px solid;
}

img {
	float: left;
	width: 225px;
	height: 164px; 
}

.clearFloat {
	clear: both;
}

footer {
	border-top: 1px solid;
}

#copyright {
	float: left;
}

#bottomMenu {
	float: right;
}

table {
	margin: 40px;
}

a:hover {
	color: red;
}

#bottomMenu ul li {
	display: inline;
}

#bottomMenu ul {
	margin: 0px;
}